@import './variables.scss';

body{
  .main_block{
    background: $main-bg;
    font: $general-fsize Arial, sans-serif;
    
    img{
      display: block;
      max-width: 90%;
      margin: 0 auto;
    }
  }
}
