@import './variables.scss';

@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin components_common {
  display: flex;
  padding: 25px;
  background: $random_bg;
}

@mixin text_block {
  padding: 15px;
  background: #efefef;
  border-radius: 10px;
}

@mixin button{
  padding: 10px 15px;
  background: green;
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  outline: none;

  &:hover{
    color: green;
    background:#fff;
  }
}
